/* GENERAL CSS */
html,body
{
    
    overflow-x: hidden; 
}

* {
        font-family: "Helvetica Neue LT Pro";
		margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
img {
padding: 1px;
border: 2px solid #000000;
}
/* background stuff */


.b1{	
	/*background-size: 100%;	*/
	height: 770px;
	max-width: 100%;
	background-image: url(background3.jpg);
	border-collapse: collapse;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #999;
	/*
	image centering code from https://codepen.io/theiwaz/pen/vybjc
	*/
}

.b4{ 
	/*
	background-image: url(https://i.imgur.com/56Bea7V.jpg);
	background-position: 0% 50%; 
	*/
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(123, 127, 97, 1));
	height: 770px;
	max-width: 100%;
}


/* body font  */


#t1{
	color: #FFEEEE;
	font-size:30px;
}
#t2{
	color: #FFEEEE;
	font-size:50px;
}
#t3{
	color: #222222;
	font-size:50px;
}

/* menu stuff */
.menu{
width: 30%;
margin-left: 34%;
}
.menu > a{
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: all .2s ease-in; 
	padding-right: 10px; 
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFEEEE;
		
}
a.m1{
	flex: 1;
	order: 1;
	border-top-color:#4285F4;
}
a.m1:hover{
	color: #000000;
	background-color: #CFC4DB;
	border-top-color:#4285F4;
	
}
a.m2{
	flex: 1;
	order: 2;
	border-top-color:#EA4335;
}
a.m2:hover{
	color: #000000;
	background-color: #87DAFC;
	border-top-color:#EA4335;
}

a.m3{
	flex: 1;
	order: 3;
	
	border-top-color:#FBFF8B;
	
}
a.m3:hover{
	color: #000000;
	background-color: #FBFF8B;
	border-top-color:#FBFF8B;
}

a.m4{
	flex: 1;
	order: 4;
	border-top:solid 5px;
	border-top-color:#7BFF97;
}
a.m4:hover{
	color: #000000;
	background-color: #7BFF97;
	border-top-color:#7BFF97;
}


a.m5{
	flex: 1;
	order: 5;
	border-top-color:#EA4335;
}
a.m5:hover{
	color: #000000;
	background-color: #FF7B7B;
	border-top-color:#EA4335;
}


/* menu code from codepens: https://codepen.io/iPawan/pen/vxqemK */


/*---------------------------------------------------------------------------------------CSS FOR DESKTOP----------------------------------------------------------------------------*/



@media(min-width: 768px){
.menu {
	position: relative;
	
	right: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* menu code from codepens: https://codepen.io/iPawan/pen/vxqemK */
}


.b1  > h1{
color: #FFEEEE;
font-size: 70px;
position: relative;
top: 280px;
text-align: center;
}


.b1  > p{
color: #C7D5FF;
font-size: 20px;
position: relative;
top: 280px;
text-align: center;
}


#team {
width: 50%;
margin:auto;
}


#team h3{
text-align: center;
font-size: 40px;
}

#team p{
font-size: 18px;
}

#leftside{
width: 40%;
float: left;
}


#rightside{
width: 40%;
float: right;
}

#row1{
width: 100%;
}
#row2{
width: 100%;
}

#names {
width: 50%;
float: left;
}


#pictures {
width: 50%;
float: right;
}


#pictures img{
width: 100%;
}







#text{

display: block;
font-size: 16px;
width: 100%;
margin: auto;



}


}
/*----------------------------------------------------------------------------------------CSS FOR MOBILE----------------------------------------------------------------------- */
@media(max-width: 768px){
a.m4{
	color: #000000;
	background-color: #7BFF97;
	border-top-color:#7BFF97;
}

.b1  > h1{
color: #FFEEEE;
font-size: 70px;
position: relative;
top: 130px;
text-align: center;
}
.b1  > p{
color: #C7D5FF;
font-size: 20px;
position: relative;
top: 160px;
text-align: center;
width: 100%;
}
.menu {
    display:flex;
    flex-direction: column;
   
	justify-content: center;
	/* menu code from codepens: https://codepen.io/iPawan/pen/vxqemK */
} 
.menu > a{
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: all .2s ease-in; 
	padding-right: 10px; 
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
		
}

#team {
width: 50%;
margin:auto;
}


#team h3{
text-align: center;
font-size: 40px;
}

#team p{
font-size: 17px;
}

#leftside{
width: 40%;
float: left;
}


#rightside{
width: 40%;
float: right;
}

#row1{
width: 100%;
}
#row2{
width: 100%;
}

#names {
width: 50%;
float: left;
}


#pictures {
width: 50%;
float: right;
}


#pictures img{
width: 160%;
}







#text{

display: block;
font-size: 17px;
width: 100%;
margin: auto;



}
}


/* 
    Created on : Jun 26, 2018, 4:05:07 PM
    Author     : Patrick
*/

